@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400;1,500&display=swap");
html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
  list-style: none;
}
.faq h2 {
  width: 129px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #23b0c2;
  margin: auto;
  margin-bottom: 60px;
}

.item {
  width: 80%;
  margin: 20px auto;
}

.item .quest {
  background-color: #23b0c2;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.item .quest h3 {
  color: #fdcf46;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

.item .answ {
  margin: 10px auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  border-radius: 25px;
  background-color: #23b0c2;
  display: none;
  padding: 10px 64px;
}

#active .answ {
  display: block;
}

.inactive .answ {
  display: none;
}
.time {
  padding: 50px 0;
}
.time_left {
  border: 2px solid green;
}

.time_left h2 {
  width: fit-content;
  margin-bottom: 40px;
  margin-top: 40px;
}

.time_left .full_time {
  width: 80%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.time_left .full_time .time {
  width: 10%;
  display: flex;
  flex-direction: column;
}
.time_left .full_time .time div {
  height: 150px;
  border: 2px solid;
}
.time_left .full_time .time h2 {
  color: black;
}

header {
    display: flex;
    align-items: center;
    box-shadow: black 0px 0px .4em;
    padding: 0 8vw;
    background: #FFF;
    margin-bottom: .35em;
}

.logo {
  max-height: 4.5rem;
}
.logo img {
  position: relative;
  top: 0.25em;
  left: -1em;
  max-height: 5rem;
}

.logo,
.nav {
  flex: 1;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}
.list-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 0.7em 1em;
}
.nav .list-item a:hover {
  background: whitesmoke;
}
.btn-reg {
  background: #fdcf46;
  border-radius: 0.6rem;
  text-decoration: none;
  color: #1894ab;
  padding: 0.35em 1em;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0.8em;
}
.btn-reg:hover {
  background: #ffc929;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem 8vw;
    width: 100%;
    height: 100vh;
    min-height: 20em;
}
.right-col {
  padding: 1rem;
}
.left-col {
  padding: 1rem;
}

.main .container {
    height: 100%;
    background: linear-gradient(207.32deg, rgba(156, 156, 156, 0.58) 14.81%, rgba(217, 217, 217, 0) 82.97%);
}
.main {
    height: 100vh;
    min-height: 30em;
}
.main h1 {
  margin-bottom: 0.8em;
  font-size: 3.8rem;
}
.main h2 {
  font-size: 2rem;
}
.main h2 span {
  padding: 0.1em 0.2em;
  color: #fdcf46;
  border: #919191 0.125em dashed;
  font-weight: bold;
}
.main .right-col img {
  max-width: 100%;
}
.main .arrow {
  max-width: 4em;
}
.btn-reg-n {
  background: #23b0c2;
  border-radius: 0.3em;
  text-decoration: none;
  color: white;
  padding: 0.4em 1em;
  font-size: 1.5em;
  box-shadow: black 0 0 4px;
}
.btn-reg-n:hover {
  background: #00aac0;
}
.rn {
  margin-bottom: 2em;
}

.what img {
  max-width: 100%;
}
.what h2 {
  font-size: 1.4em;
  color: #fdcf46;
}
.what p {
  color: #919191;
  font-size: 1em;
  font-weight: bold;
}

/*time____________________________________________________*/
.time {
  align-items: center;
}
.time h1 {
  color: rgba(24, 148, 171, 1);
  text-align: center;
  font-size: 45px;
  margin-bottom: 80px;
}
.time-remaining {
  margin: auto auto 60px auto;
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.time-remaining div div {
  background-color: darkgray;
  border-radius: 10%;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  padding-top: 14px;
  font-weight: bold;
}
.time-remaining div p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
/*____________________________________________________________________________________*/
/*schedule*/

#days {
  border-radius: 13%;
  box-shadow: 0 6px 4px -4px gray;
  height: 400px;
  width: 400px;
  background-color: #fcce45;
}

#tasks {
  font-size: 1.2em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
#tasks li {
  margin: 10px 0;
}
#schedule h1,
#sponsors h1 {
  color: rgba(24, 148, 171, 1);
  text-align: center;
  font-size: 45px;
  margin-bottom: 40px;
  margin-top: 50px;
}

/*______________________________________________________________________*/
/*sponsers*/
#contacts {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
#frame {
  width: 700px;
  height: 400px;
}
#contacts h1 {
  color: rgba(24, 148, 171, 1);
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}

.holder {
  display: flex;
  gap: 100px;
}
#next,
#previous {
  padding-top: 10%;
}
#next1,
#previous1 {
  padding-top: 10%;
}

footer {
  bottom: 0;
  z-index: 50;
  width: 100%;
  padding: 0px;
}
.how {
  margin-bottom: 100px;
}
.how h2 {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #23b0c2;
  margin: auto;
  margin-bottom: 60px;
}
.how .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.how .container .right-col,
.how .container .left-col {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.how .container .right-col h3,
.how .container .left-col h3 {
  width: fit-content;
  margin: auto;
  color: #fcce45;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}
.how .container .right-col img {
  height: 200px;
  margin-left: 80px;
}
.how .container .left-col img {
  height: 200px;
  margin-left: 80px;
}
.card {
  border-radius: 13%;
  box-shadow: 0 6px 4px 4px gray;
  height: 300px;
  width: 400px;
  background-color: #ffffff;
  align-items: center;
}


@media only screen and (max-width: 900px) {
    .container, .main {
        height: auto;
    }   
    .main h1 {
        font-size: 3.5rem;
    }
    .main h2 {
        font-size: 1.8rem;
    }
    .main h2 span {
        padding: 0.05em 0.1em;
    }
    .main .arrow {
        max-width: 3em;
    }
    .btn-reg-n {
        padding: .3em .8em;
    }
}
@media only screen and (max-width: 775px) {
    .main h1 {
        margin-bottom: .4em;
        font-size: 3rem;
    }
    .main h2 {
        font-size: 1.5rem;
    }

    .main .arrow {
        max-width: 2.8em;
    }
    .btn-reg-n {
        font-size: 1.4em;
        padding: .25em .35em;
        /* display: none; */
    }
    .list-item:last-child {
      display: none;
    }
    .logo{
      flex: 0;
  }
  .what h2 {
    font-size: 1.2em;
  }
  .what p {
    font-size: .8em;
  }
}
@media only screen and (max-width: 640px) {
    .main {
        min-height: 20em;
    }
    .main h1 {
        font-size: 2.6rem;
    }
    .main h2 {
        font-size: 1.2rem;
    }
    .main .arrow {
        max-width: 2.5em;
    }
    .btn-reg-n {
        font-size: 1.3em;
        padding: .2em .25em;
    }

    .logo {
        max-height: 4rem;
    }
    .logo img{
        max-height: 4.5rem;   
    }

    .what h2 {
        font-size: 1.3em;
    }
    .what p {
        font-size: .8em;
    }
}
@media only screen and (max-width: 555px) {
    .main {
        min-height: 20em;
    }
    .main h1 {
        font-size: 2.2rem;
    }
    .main h2 {
        font-size: 1.1rem;
    }
    .main .arrow {
        max-width: 2em;
    }
    .btn-reg-n {
        font-size: 1.1em;
        padding: .2em .2em;
    }

    .logo {
        max-height: 4rem;
    }
    .logo img{
        max-height: 4.5rem;   
    }

    .logo{
        flex: 0;
    }
    .btn-reg {
        display: none;
    }

    .what h2 {
        font-size: 1em;
    }
    .what p {
        font-size: .7em;
    }
}
@media only screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: space-evenly;
        min-height: 80vh;
    }
    header::after {
      content: '|||';
      letter-spacing: .1em;
      transform: rotate(90deg);
      font-size: 1.2em;
    }
    header:hover::after {
      cursor: pointer;
    }
    .main h1 {
        font-size: 3rem;
    }
    .main h2 {
        font-size: 1.8rem;
    }
    .main .arrow {
        max-width: 3.8em;
    }
    .btn-reg-n {
        font-size: 1.4em;
        padding: .25em .25em;
    }

    .logo {
        max-height: 3.5rem;
    }
    .logo img{
        max-height: 4rem;   
    }

    .nav-list {
        display: none;
    }

    .what h2 {
        font-size: 1.9em;
    }
    .what p {
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 320px) {
    .container {
        padding: 0 4vw;
    }
    header {
        padding: 0 4vw;
    }
    .main h1 {
        font-size: 2.6rem;
    }
    .main h2 {
        font-size: 1.4rem;
    }
    .arrow {
      max-height: 4em;
    }
    .btn-reg-n {
        font-size: 1.3em;
        padding: .15em .15em;
    }
    .what p {
      font-size: 1em;
    }
}